@model Crr.Models.Term.TermModel

<h1>Single Blockchain Term!</h1>

<table class="table table-hover">
    <tbody>

            <tr>
                <td>
                    @Model.LinkName
                </td>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Description
                </td>
            </tr>

    </tbody>
</table>